.banner {
    background: linear-gradient(47deg, #000113 0%, #04061D 80%, #04061D 100%);
    background-image: url('/public/assets/capa.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80%;
}

.banner .box-titulo {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner .box-titulo p,
h1 {
    width: 500px;
    font-family: 'Anybody', cursive;
}

.banner .box-titulo p {
    font-size: 36px;
    color: rgb(196, 196, 196);
}

.banner .box-titulo h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 60px;
    margin: 0;
    letter-spacing: 5px;
    line-height: 70px;
}